In [2]:
import pandas as pd

In [3]:
B1801_df = pd.read_csv("201801-citibike-tripdata.csv")
#B1801_df.head()

In [4]:
B1801_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [5]:
B1802_df= pd.read_csv("201802-citibike-tripdata.csv")
B1802_df.head()
B1802_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [6]:
B1803_df = pd.read_csv("201803-citibike-tripdata.csv")
B1803_df.head()
B1803_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [7]:
B1804_df = pd.read_csv("201804-citibike-tripdata.csv")
B1804_df.head()
B1804_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [8]:
B1805_df = pd.read_csv("201805-citibike-tripdata.csv")
B1805_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [9]:
B1806_df = pd.read_csv("201806-citibike-tripdata.csv")
B1806_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [10]:
frames = [B1801_df, B1802_df, B1803_df, B1804_df, B1805_df, B1806_df]

result = pd.concat(frames)
result

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953098,3183,2018-06-30 12:53:16.1630,2018-06-30 13:46:19.5730,3691,28 Ave & 44 St,40.764089,-73.910651,462,W 22 St & 10 Ave,40.746920,-74.004519,30117,Customer,1996,1
1953099,2352,2018-06-30 13:05:57.1730,2018-06-30 13:45:09.7640,3691,28 Ave & 44 St,40.764089,-73.910651,479,9 Ave & W 45 St,40.760193,-73.991255,14809,Subscriber,1972,1
1953100,988,2018-06-30 22:56:32.5280,2018-06-30 23:13:01.5270,3691,28 Ave & 44 St,40.764089,-73.910651,3530,Crescent St & Ditmars Blvd,40.778718,-73.914564,19432,Subscriber,1984,1
1953101,1695,2018-06-29 16:33:31.2320,2018-06-29 17:01:47.1620,3692,5 St & Market St,40.699997,-73.974401,3324,3 Ave & 14 St,40.668546,-73.993333,25077,Subscriber,1969,1
1953102,1487,2018-06-30 17:16:59.5840,2018-06-30 17:41:47.0520,3692,5 St & Market St,40.699997,-73.974401,443,Bedford Ave & S 9 St,40.708531,-73.964090,30376,Customer,1971,1

In [12]:
result.to_csv('./data/combine.csv', index=False)

In [ ]:
 B1806_df

In [ ]:
718994, 843114, 976672, 1307543, 1824710, 1953103

In [33]:
718994+843114+976672+1307543+1824710+1953103

7624136